<form (ngSubmit)=onSubmit(f) #f="ngForm">
    <table class="table">
      <tr>
        <td>Title</td><td><input type="text" class="form-control" name="title" ngModel></td>
      </tr>
      <tr>
        <td>picture</td><td><input type="text" class="form-control" name="picture" ngModel></td>
      </tr>
  
      <tr>
        <td>genre</td><td><input type="text" class="form-control" name="genre" ngModel></td>
      </tr>
  
      <tr>
        <td>author</td><td><input type="text" class="form-control" name="author" ngModel></td>
      </tr>
  
  
  
      <tr>
        <td><button type="submit" class="btn btn-success">SUBMIT</button></td>
      </tr>
    </table>
  </form>